<head><link rel="stylesheet" type="text/css" href="/css/grid.css"></head>

<h1>Hi, {{userdata.name}}</h1>

<div class="row">
	<div class="btn-group pull-right" role="group" aria-label="...">
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addTaskModal"">Add</button>
		<!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#updateTaskModal" >Edit</button> -->
		<button type="button" class="btn btn-default" ng-click="removeTask()">Delete</button>
	</div>	
</div>

<div class="row">
	<br>
</div>

<div class="container">
	<div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
</div>

<!-- Modal for Add -->
<div id="addTaskModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add Task</h4>
			</div>
			<div class="modal-body">
			<div class="panel ">
					<div class="panel-body">
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Task Entry</span>
								<input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="addTextEntry">
							</div>
						</div>
						<br>
						<div class="row">
							<!-- Single button -->
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Priority <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTask()">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for Update -->
<div id="updateTaskModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Update Task</h4>
			</div>
			<div class="modal-body">
				<div class="panel ">
					<div class="panel-body">
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Task Entry</span>
								<input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="updateEntryText">
							</div>
						</div>
						<br>
						<div class="row">
							<!-- Single button -->
							
							<div class="btn-group">
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Priority <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#" ng-click="alert('1')">1</a></li>
									<li><a href="#" ng-click="alert('2')">2</a></li>
									<li><a href="#" ng-click="alert('3')">3</a></li>
								</ul>
							</div>
							
							
							</div>
						</div>
						<div class="row">
							 <div class="col-lg-3">
							<div class="input-group">
								<span class="input-group-addon">
									<input type="checkbox" aria-label="...">Complete
								</span>
							</div>
						</div>
					</div>
				</div>
				<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateTask()">Save changes</button>
			</div>
		</div>
	</div>
</div>