
<div class="form-horizontal">
	<fieldset>

	<!-- Form Name -->
	<legend>Login</legend>

	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">Username:</label>  
	  <div class="col-md-4">
	  <input id="textinput" name="textinput" ng-model="vm.username" class="form-control input-md" type="text">
	    
	  </div>
	</div>

	<!-- Password input-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="passwordinput">Password</label>
	  <div class="col-md-4">
	    <input id="passwordinput" name="passwordinput" ng-model="vm.password" class="form-control input-md" type="password">
	    
	  </div>
	</div>

	<!-- Button (Double) -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for=""></label>
	  <div class="col-md-4">
	    <button class="btn btn-success" ng-click="vm.login()">Login</button>
	    <button class="btn" ng-click="vm.cancel()">Cancel</button>
	  </div>
	</div>

	</fieldset>

</div>
