<head><link rel="stylesheet" type="text/css" href="/public/css/grid.css"></head>

<div class="row">
	<h1 class="pull-right">Hi, {{userdata.name}}</h1>
	<br>
</div>
<div class="row">
	<div class="btn-group pull-right" role="group" aria-label="...">
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addTaskModal"">Add</button>
		<button type="button" class="btn btn-default" ng-click="markComplete()">Mark as Complete</button>
		<button type="button" class="btn btn-default" ng-click="removeTask()">Delete</button>
		<button type="button" class="btn btn-primary" ng-click="logout()">Logout</button>
	</div>	
</div>

<div class="row">
	<br>
</div>

<div class="container">
	<div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
</div>

<!-- Modal for Add -->
<div id="addTaskModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add Task</h4>
			</div>
			<div class="modal-body">
				<div class="panel ">
					<div class="panel-body">
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Task Entry</span>
								<input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="addTextEntry">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Priority</span>
								<input type="number" class="form-control" max="3" min="1" value="1" ng-model="addPriorityText">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTask()">Save</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal for Update -->
<div id="updateTaskModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Update Task</h4>
			</div>
			<div class="modal-body">
				<div class="panel ">
					<div class="panel-body">
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Task Entry</span>
								<input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="updateEntryText">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">Priority</span>
								<input type="number" class="form-control" max="3" min="1" value="1" ng-model="updatePriorityText">
							</div>
						</div>
					</div>
				</div>
				<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateTask()">Save changes</button>
			</div>
		</div>
	</div>
</div>