<html >

<head>
  <title>User</title>
  <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="/public/lib/angular-ui-grid/ui-grid.css"/>
  <link rel="stylesheet" type="text/css" href="/public/css/home.css">

  <script type="text/javascript" src="/public/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/public/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/public/lib/angular-bootstrap/ui-bootstrap.js"></script>
  <script type="text/javascript" src="/public/lib/angular-ui-grid/ui-grid.js"></script>
  <script type="text/javascript" src="/public/lib/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/public/lib/bootstrap/js/modal.js"></script>

  
  <script type="text/javascript" src="public/js/app.js"></script>
  <script type="text/javascript" src="public/js/factory.js"></script>
  <script type="text/javascript" src="public/js/LoginController.js"></script>
  <script type="text/javascript" src="public/js/TaskController.js"></script>
</head>

<body ng-app="userApp">
<div  class="container">
    <ng-view></ng-view>
</div>

</body>

</html>
